In [3]:
import pandas as pd
import os

In [33]:
data2 = pd.read_csv("/Users/henryning/Desktop/CS 441/project/final_hateXplain.csv")
data2.head()

,comment,label,Race,Religion,Gender,Sexual Orientation,Miscellaneous
0,0 u0 lmao wow fuck you too ðŸ˜‚ ðŸ˜‚,normal,No_race,Nonreligious,No_gender,No_orientation,NaN
1,1 0 th floor maybe wow cnn with the fakenews t...,offensive,No_race,Nonreligious,No_gender,No_orientation,Other
2,1 0 yrs <number> white women raped by niggers ...,hatespeech,African,Nonreligious,No_gender,No_orientation,NaN
3,1 2 h ago ching chong accepted your friend req...,offensive,Asian,Nonreligious,No_gender,No_orientation,NaN
4,1 8 th century mayhem and lawlessness had noth...,normal,No_race,Nonreligious,No_gender,No_orientation,NaN

In [42]:
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 39252 entries, 6 to 60443
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post_id       39252 non-null  object
 1   annotator_id  39252 non-null  int64
 2   label         39252 non-null  object
 3   target        39252 non-null  object
 4   post_tokens   39252 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.8+ MB

       annotator_id
count  39252.000000
mean     134.882503
std       94.603133
min        1.000000
25%       18.000000
50%      202.000000
75%      212.000000
max      253.000000

In [ ]:
data2.isnull().sum()

comment                   0
label                     0
Race                      0
Religion                  0
Gender                    0
Sexual Orientation        0
Miscellaneous         16576
dtype: int64

In [44]:
import re
data2["comment"] = data2["comment"].str.replace(r"<[^>]+>", "", regex=True)
# remove <> 
data2.head()

,comment,label,Race,Religion,Gender,Sexual Orientation,Miscellaneous
0,0 u0 lmao wow fuck you too,normal,No_race,Nonreligious,No_gender,No_orientation,NaN
1,1 0 th floor maybe wow cnn with the fakenews t...,offensive,No_race,Nonreligious,No_gender,No_orientation,Other
2,1 0 yrs white women raped by niggers negress...,hatespeech,African,Nonreligious,No_gender,No_orientation,NaN
3,1 2 h ago ching chong accepted your friend req...,offensive,Asian,Nonreligious,No_gender,No_orientation,NaN
4,1 8 th century mayhem and lawlessness had noth...,normal,No_race,Nonreligious,No_gender,No_orientation,NaN

In [ ]:
data2["comment"] = data2["comment"].str.replace(r"http\S+|www\S+", "", regex=True)
data2.head()
# remove url

,comment,label,Race,Religion,Gender,Sexual Orientation,Miscellaneous
0,0 u0 lmao wow fuck you too,normal,No_race,Nonreligious,No_gender,No_orientation,NaN
1,1 0 th floor maybe wow cnn with the fakenews t...,offensive,No_race,Nonreligious,No_gender,No_orientation,Other
2,1 0 yrs white women raped by niggers negress...,hatespeech,African,Nonreligious,No_gender,No_orientation,NaN
3,1 2 h ago ching chong accepted your friend req...,offensive,Asian,Nonreligious,No_gender,No_orientation,NaN
4,1 8 th century mayhem and lawlessness had noth...,normal,No_race,Nonreligious,No_gender,No_orientation,NaN

In [ ]:
data2["comment"] = data2["comment"].str.replace(r"[^\x00-\x7F]+", "", regex=True)
data2.head()
# remove emoji

,comment,label,Race,Religion,Gender,Sexual Orientation,Miscellaneous
0,0 u0 lmao wow fuck you too,normal,No_race,Nonreligious,No_gender,No_orientation,NaN
1,1 0 th floor maybe wow cnn with the fakenews t...,offensive,No_race,Nonreligious,No_gender,No_orientation,Other
2,1 0 yrs white women raped by niggers negress...,hatespeech,African,Nonreligious,No_gender,No_orientation,NaN
3,1 2 h ago ching chong accepted your friend req...,offensive,Asian,Nonreligious,No_gender,No_orientation,NaN
4,1 8 th century mayhem and lawlessness had noth...,normal,No_race,Nonreligious,No_gender,No_orientation,NaN